[Unit]
Description=Initalize Kinoite 7 for new user, if necessary

[Service]
Type=oneshot
ExecStart=/usr/bin/7just _write-kvantum-config

[Install]
WantedBy=multi-user.target
