[Desktop Entry]
Type=Application
Name=Welcome to Kinoite 7! This project is Fedora + KDE Plasma + AeroThemePlasma all rolled into an image. Windows 7 wallpapers included.
Icon=distributor-logo
Comment=The future you wanted is now
